@use "$/styles" as *;

.TextArea {
  @include forms-form-control;

  position: relative;
  display: block;
  margin-block-end: $sizes-s3;

  textarea {
    @include borders-trace;
    @include borders-underline-on-focus;

    padding: $sizes-s2 $sizes-s2;
    border: none;
    resize: block;
    min-block-size: $sizes-s9;
    inline-size: calc(100% + 16px);
    margin-inline-start: -8px; // Visually adjust to align with input
    overflow-block: auto;

    &.editable {
      @include borders-underline-on-focus;

      resize: none;
      cursor: pointer;
      min-block-size: auto;

      &:focus {
        resize: block;
        cursor: text;
        min-block-size: $sizes-s9;
      }
    }
  }
}
