@use "../../../styles/sizes";
@use "../../../styles/borders";
@use "../../../styles/colors";

.IndicatorViewConfident {
  font-weight: 700;
  font-size: sizes.$f4;
  padding: 2px;
  border-radius: borders.$radius;
  background-color: colors.$success-5;
  color: colors.$white;
  width: initial!important; // Override FA default
}
