@use "../../../styles/sizes";
@use "../../../styles/colors";
@use "../../../styles/borders";

.DataTable {
  max-width: sizes.$s17;
  margin: 0 auto;
  .table-headers {
    text-align: left;
    color: colors.$grey-4;
    padding-bottom: sizes.$s3;
  }
  .table-row {
    display: grid;
    gap: sizes.$s2;
    border-radius: borders.$radius;
  }
  .field {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    align-content: start;
    &:focus {
      @include borders.trace;
    }
  }
}
