@use "../../../styles/sizes";
@use "../../../styles/colors";

.InboxResponses {
  h2 {
    margin-bottom: sizes.$s5;
  }
  .response-count {
    font-style: italic;
  }
  .learner-response {
    display: grid;
    grid-template-columns: 84px 1fr;
    margin-bottom: sizes.$s4;
    > img {
      margin-top: sizes.$s3;
    }
    .username {
      font-weight: 700;
      padding: sizes.$s1 sizes.$s2;
      margin-left: -8px; // Visual offset
      margin-bottom: sizes.$s2;
    }
    .response-content {
      padding: 0;
    }
  }
}
