@use "../../../styles/sizes";
@use "../../../styles/borders";
@use "../../../styles/colors";

.IndicatorQuestion {
  color: colors.$grey-5;
  margin-bottom: 0;
  font-weight: 700;
  font-size: sizes.$f4;
  > span {
    border-radius: borders.$radius;
  }
  .indicator {
    padding: 0 sizes.$s1;
  }
  .indicator:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .indicator:nth-child(2) {
    border-radius: 0;
  }
  .indicator:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .failure {
    background-color: colors.$failure-5;
    color: colors.$white;
  }
  .warning {
    color: colors.$warning-5;
  }
  .success {
    background-color: colors.$success-6;
    color: colors.$white;
  }
  & + em {
    font-style: normal;
    font-size: sizes.$f5;
    color: colors.$grey-5;
  }
  & + em::before {
    content: "/ ";
  }
}
