@use "../../../styles/borders";
@use "../../../styles/sizes";
@use "../../../styles/colors";

.EditableField {
  label {
    height: 0;
    overflow-y: hidden;
  }
  input {
    outline: none;
    border: none;
    padding: sizes.$s2;
    margin-left: -1 * sizes.$s2;
    @include borders.underline-on-focus;
  }
}
