@use "$/styles" as *;

.QuickAdd {
  margin: 2px $sizes-s1 0 $sizes-s1;

  &,
  input {
    display: inline-block;
  }

  input {
    @include borders-trace;

    padding: $sizes-s1;
    font-size: $sizes-f1;
    margin-inline-end: $sizes-s2;
  }

  .Button {
    margin-inline-end: $sizes-s1;
  }

  .Icon {
    color: $colors-white;
  }
}
