@use "../../../styles/colors";
@use "../../../styles/forms";

.Toggle {
  @include forms.form-control;
  display: inline-block;
  margin-bottom: 0;
  label {
    display: inline-block;
    position: relative;
    top: 2px; // Visual alignment
  }
  .MuiSwitch-colorPrimary {
    color: colors.$primary-5 !important;
  }
}
