@use "$/styles" as *;

.Badge {
  & {
    display: inline-block;
    margin-top: $sizes-s2;
    padding: $sizes-s2 $sizes-s3;
    border-radius: 12px;
    font-weight: 700;
    font-size: $sizes-f3;
    border: 1px solid $colors-grey-9;
    .Icon {
      margin-right: $sizes-s2;
      position: relative;
      top: 1px; // Visual adjustment
      color: $colors-grey-7;
    }
  }
  &.light {
    background-color: $colors-white;
    color: $colors-grey-1;
    .Icon {
      color: $colors-grey-7;
    }
  }
  &.primary {
    background: linear-gradient(to bottom, $colors-primary-6, $colors-primary-8);
    color: $colors-primary-1;
    .Icon {
      color: $colors-primary-1;
    }
  }
  &.dark {
    background: linear-gradient(to bottom, $colors-primary-1, $colors-primary-4);
    color: $colors-white;
    .Icon {
      color: $colors-grey-9;
    }
  }
}
