@use "$/styles" as *;

.Profile {
  display: flex;
  flex-flow: row wrap;
  &.testimonial {
    margin: 0 auto;
    max-width: $sizes-s15;
  }
  .Portrait {
    flex: 1;
  }
  .copy {
    flex: 2;
    padding-left: $sizes-f9;
  }
  .attribution {
    font-style: italic;
    font-size: $sizes-f5;
  }
}
