@use "../../styles/sizes";
@use "../../styles/colors";
@use "../../styles/buttons";
@use "../../styles/typography";

.SubmissionEvaluationForm {
  h2 {
    @include typography.body-font;
    font-weight: 700;
  }
  label {
    @include typography.breadcrumb-font;
  }
  > .feedback {
    width: 100%;
    height: sizes.$s11;
    resize: none;
    border-radius: sizes.$border-radius;
    border: 1px solid colors.$grey-8;
    overflow-y: auto;
    padding: sizes.$s4;
    @include typography.code-font;
    font-size: sizes.$f3;
    margin-left: 2px; // Makes left focus border visible
  }
  .status-buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin-top: sizes.$s1;
    margin-bottom: sizes.$s2;
    button {
      border-radius: sizes.$border-radius;
      background-color: transparent;
      border: none;
      cursor: pointer;
      font-size: sizes.$f8;
      margin-left: sizes.$s1;
      margin-right: sizes.$s3;
    }
    :not(.active) {
      svg {
        color: colors.$grey-7;
      }
    }
    .success.active > svg {
      color: colors.$success-5;
    }
    .failure.active > svg {
      color: colors.$failure-5;
    }
  }
  .submission-container {
    text-align: right;
    [type=button]{
      display: inline-block;
      border: none;
      text-decoration: underline;
      background: transparent;
      margin-right: sizes.$s5;
      cursor: pointer;
    }
    [type=submit] {
      display: inline-block;
      background-color: colors.$primary-3;
      color: colors.$primary-10;
      font-weight: 700;
      border: none;
      padding: sizes.$s2 sizes.$s4;
      @include buttons.button-shadow-small;
      border-radius: sizes.$border-radius;
      cursor: pointer;
      &[disabled] {
        background-color: colors.$grey-5;
        cursor: initial;
      }
    }
  }
}
