@use "../../styles/sizes";
@use "../../styles/typography";
@use "../../styles/colors";

.ProgramViewer {
  padding: sizes.$s4 0;
  display: flex;
  justify-content: center;
  .ProgramViewer-wrapper {
    display: grid;
    grid-template-columns: 450px 680px;
    grid-template-rows: auto;
    > ul {
      height: 100vh;
      overflow-y: auto;
      grid-column: 1 / span 1;
      & ul {
        margin-left: sizes.$s6;
      }
    }
    .post-content {
      grid-column: 2 / span 1;
      margin-left: sizes.$s6;
    }
  }
  ul {
    margin-bottom: 0;
  }
}
