@use "../../../styles/sizes";
@use "../../../styles/borders";
@use "../../../styles/colors";

.InboxCoachPromptForm {
  .question-prompt {
    border-radius: borders.$radius;
    border-radius: borders.$radius;
    border: 1px solid colors.$grey-6;
    height: sizes.$s11;
    margin-bottom: sizes.$s4;
    padding: sizes.$s4;
    resize: vertical;
    width: 100%;
    overflow-y: auto;
  }
  input {
    padding: sizes.$s2 sizes.$s4;
    border-radius: borders.$radius;
    border: 1px solid colors.$grey-6;
    margin-bottom: sizes.$s4;
  }
  .submission-section {
    text-align: right;
    [type=submit]{
      display: inline-block;
      cursor: pointer;
      border: none;
      border-radius: borders.$radius;
      background-color: colors.$grey-9;
    }
  }
}
