@use "../../styles/sizes";
@use "../../styles/colors";
@use "../../styles/buttons";

.PostListing {
  padding: sizes.$s1 sizes.$s3;
  background-color: colors.$grey-10;
  margin-bottom: sizes.$s1;
  width: 300px;
  font-size: sizes.$f3;
  text-overflow: ellipsis;
  cursor: pointer;
  transition: background-color sizes.$transition;
  &:hover, &.active {
    background-color: darken(colors.$grey-10, 5%);
  }
  .post-details {
    height: 0;
    overflow: hidden;
    color: colors.$grey-5;
    &.active {
      height: auto;
    }
    .post-id {
      display: block;
      padding: 8px 0;
      font-weight: 700;
      color: colors.$grey-3;
    }
    td {
      padding-left: sizes.$s3;
    }
    .copy-links {
      padding: sizes.$s1;
      border: none;
      border-radius: sizes.$border-radius;
      font-size: sizes.$f2;
      margin-top: sizes.$s1;
      @include buttons.button-shadow-small;
    }
  }
}
