@use "../../styles/sizes";
@use "../../styles/colors";
@use "../../styles/shadows";
@use "../../styles/borders";

.BordersAndShadows {
  section > div {
    margin-bottom: 24px;
  }
  .border-radius {
    border-radius: borders.$radius;
    outline: 1px solid #333;
    padding: 24px;
  }
  .trace {
    @include borders.trace;
  }
  .low-shadow {
    border: 1px dashed #eee;
    @include shadows.small;
  }
  .high-shadow {
    border: 1px dashed #eee;
    @include shadows.large;
  }
  .underlay-container {
    position: relative;
    padding: 24px;
    .shade {
      z-index: 20;
      @include shadows.underlay;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
    }
    > p {
      z-index: 10;
    }
  }
}
