@use "../../styles/sizes";

.SizeDemo {
  div {
    position: relative;
    outline: 1px dashed #333;
  }
  .label {
    position: absolute;
    right: 4px;
    bottom: 0;
    font-size: 8px;
  }
  .size-1 {
    width: sizes.$s1;
    height: sizes.$s1;
  }
  .size-2 {
    width: sizes.$s2;
    height: sizes.$s2;
  }
  .size-3 {
    width: sizes.$s3;
    height: sizes.$s3;
  }
  .size-4 {
    width: sizes.$s4;
    height: sizes.$s4;
  }
  .size-5 {
    width: sizes.$s5;
    height: sizes.$s5;
    .label {
      font-size: 5px;
    }
  }
  .size-6 {
    width: sizes.$s6;
    height: sizes.$s6;
    .label {
      font-size: 6px;
    }
  }
  .size-7 {
    width: sizes.$s7;
    height: sizes.$s7;
  }
  .size-8 {
    width: sizes.$s8;
    height: sizes.$s8;
  }
  .size-9 {
    width: sizes.$s9;
    height: sizes.$s9;
  }
  .size-10 {
    width: sizes.$s10;
    height: sizes.$s10;
  }
  .size-11 {
    width: sizes.$s11;
    height: sizes.$s11;
  }
  .size-12 {
    width: sizes.$s12;
    height: sizes.$s12;
  }
  .size-13 {
    width: sizes.$s13;
    height: sizes.$s13;
  }
  .size-14 {
    width: sizes.$s14;
    height: sizes.$s14;
  }
  .size-15 {
    width: sizes.$s15;
    height: sizes.$s15;
  }
  .size-16 {
    width: sizes.$s16;
    height: sizes.$s16;
  }
  .size-17 {
    width: sizes.$s17;
    height: sizes.$s17;
  }
}
