@use "../../styles/sizes";

.TimingDemo {
  .transition {
    display: inline-block;
    padding: 24px;
    transition: all sizes.$transition;
    background-color: #eee;
    outline: 1px solid;
    &:hover {
      transform: scale(1.1);
    }
  }
  .notification-container {
    position: relative;
    outline: 1px dashed;
    .notification {
      position: absolute;
      animation: demo-notification sizes.$toast-duration forwards;
      animation-iteration-count: 1
    }
    .timer {
      display: inline-block;
      background-color: #ccc;
      animation: timer-countdown sizes.$toast-duration linear forwards;
      animation-iteration-count: 1
    }
  }
}

@keyframes timer-countdown {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

@keyframes demo-notification {
  from {
    bottom: -9999px;
  }
  3% {
    bottom: 0;
  }
  95% {
    bottom: 0;
  }
  to {
    bottom: -9999px;
  }
}
