@use "../../styles/sizes";
@use "../../styles/colors";

.PerformanceFilters {
  h2 {
    font-weight: 700;
  }
  .filter {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 200px 1fr;
    margin-bottom: sizes.$s1;
    label {
      font-size: sizes.$f3;
      align-self: center;
      &[data-disabled=true] {
        color: colors.$grey-7;
      }
    }
    .dropdown-filter {
      font-size: sizes.$f3;
      max-width: 250px;
      padding: sizes.$s1 sizes.$s2;
      background-color: colors.$white;
      border-radius: sizes.$border-radius;
      border: 1px solid colors.$grey-6;
      &[disabled] {
        background-color: colors.$grey-10;
        color: colors.$grey-7;
      }
    }
  }
  .filter-unevaluated {
    display: inline-block;
    background-color: colors.$grey-10;
    color: colors.$grey-1;
    border: none;
    border-radius: sizes.$border-radius;
    cursor: pointer;
    padding: sizes.$s3;
    margin-right: sizes.$s5;
    &.active {
      background-color: colors.$grey-9;
    }
  }
  .scroll-target {
    display: inline-block;
    background: inherit;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    padding: 0;
    color: colors.$grey-1;
    margin-right: sizes.$s5;
  }
  .clear {
    display: inline-block;
    background: inherit;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    padding: 0;
    color: colors.$grey-1;
  }
}
