@use "../../../styles/sizes";
@use "../../../styles/borders";
@use "../../../styles/colors";

.EvaluatorPerformanceHeader {
  th {
    font-weight: 700;
    text-align: left;
    padding: sizes.$s4;
  }
  .evaluate-all {
    button {
      border-radius: borders.$radius;
      border: none;
      cursor: pointer;
      background-color: colors.$grey-10;
      color: colors.$grey-1;
      padding: sizes.$s1;
    }
  }
}
