@use "../../../style-library/styles" as *;

.primary-heading {
  color: $colors-primary-3;
  font-weight: 700;
  font-size: $sizes-f8;
  font-family: "Gill Sans", sans-serif;
  line-height: 1.1;

  @media (max-width: $sizes-small-breakpoint) {
    font-size: $sizes-f6;

    code {
      font-size: $sizes-f4 + 0.2rem; // Visual match
    }
  }

  code {
    font-size: $sizes-f7 + 0.2rem; // Visual match
  }

  &.margin {
    margin-block-start: $sizes-s4;
    margin-block-end: $sizes-s5;

    @media (max-width: $sizes-small-breakpoint) {
      margin-block-end: $sizes-s4;
    }
  }
}

.secondary-heading {
  color: $colors-grey-4;
  font-weight: 400;
  font-size: $sizes-f7;
  font-family: "Gill Sans", sans-serif;
  line-height: 1.1;

  @media (max-width: $sizes-small-breakpoint) {
    font-size: $sizes-f6;

    code {
      font-size: $sizes-f5 + 0.1rem; // Visual match
    }
  }

  code {
    font-size: $sizes-f6 + 0.2rem; // Visual match
  }

  &.margin {
    margin-block-start: $sizes-s2;
    margin-block-end: $sizes-s3;

    @media (max-width: $sizes-small-breakpoint) {
      margin-block-start: $sizes-s1;
      margin-block-end: $sizes-s2;
    }
  }
}

.tertiary-heading {
  color: $colors-grey-4;
  font-weight: 400;
  font-size: $sizes-f6;
  font-family: "Gill Sans", sans-serif;
  line-height: 1.1;

  @media (max-width: $sizes-small-breakpoint) {
    font-size: $sizes-f5;

    code {
      font-size: $sizes-f3 + 0.1rem; // Visual match
    }
  }

  code {
    font-size: $sizes-f4 + 0.2rem; // Visual match
  }

  &.margin {
    margin-block-end: $sizes-s1;

    @media (max-width: $sizes-small-breakpoint) {
      margin-block-end: $sizes-s1;
    }
  }
}

.quaternary-heading {
  color: $colors-grey-4;
  font-weight: 400;
  font-size: $sizes-f4;
  font-family: "Gill Sans", sans-serif;
  line-height: 1.1;
  margin-block-end: $sizes-s4;

  @media (max-width: $sizes-small-breakpoint) {
    font-size: $sizes-f4;
  }

  code {
    font-size: $sizes-f2 + 0.1rem; // Visual match
  }

  &.margin {
    margin-block-end: $sizes-s1;
  }
}
