@use "../../styles" as *;

// Uses IDs because there should always only be one lightbox active at once

#lightbox-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

#LightBox {
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
	height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 10%;
}

#lightbox-content {
  z-index: 20;
  max-width: $sizes-s15;
  width: 100%;
	margin-top: -25%;
}

#underlay {
  background-color: hsla(0, 0%, 0%, 0.85);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
}
