@use "../../styles" as *;

// Uses IDs because there should always only be one lightbox active at once

#lightbox-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

#LightBox {
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
	height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10% 15%;
}

#lightbox-content {
	position: relative;
  z-index: 20;
  max-width: $sizes-s15;
  width: 100%;
	text-align: center;
	.close-lightbox {
		position: absolute;
		top: 0;
		right: $sizes-f7 * -1;
		.Icon {
			color: $colors-white;
			font-size: $sizes-f7;
		}
	}
}

#underlay {
  background-color: hsla(0, 0%, 0%, 0.85);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
}
