@use "../../styles" as *;

// Uses IDs because there should always only be one lightbox active at once

#lightbox-wrapper {
  position: fixed;
  z-index: 1000;
  inset-block-start: 0;
  inset-block-end: 0;
  inset-inline-end: 0;
  inset-inline-start: 0;
}

#LightBox {
  position: relative;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10% 15%;
  inset-block-start: 0;
  inset-block-end: 0;
  inset-inline-end: 0;
  inset-inline-start: 0;
  block-size: 100%;
}

#lightbox-content {
  position: relative;
  z-index: 2000;
  text-align: center;
  max-inline-size: $sizes-s15;
  inline-size: 100%;

  .close-lightbox {
    position: absolute;
    inset-block-start: 0;
    inset-inline-end: $sizes-f9 * -1;

    .Icon {
      color: $colors-white;
      font-size: $sizes-f7;
    }
  }
}

#underlay {
  position: fixed;
  z-index: 1000;
  background-color: hsl(0deg 0% 0% / 85%);
  inset-block-start: 0;
  inset-block-end: 0;
  inset-inline-end: 0;
  inset-inline-start: 0;
}
