.AppHome {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 15%;
  .login {
    background-color: inherit;
    text-decoration: underline;
    display: inline;
    border: none;
    cursor: pointer;
  }
}
