@use "../../../styles/typography";
@use "../../../styles/sizes";
@use "../../../styles/colors";

.primary-heading {
  font-family: "Gill Sans", sans-serif;
  font-weight: 700;
  font-size: sizes.$f8;
  color: colors.$primary-3;
  line-height: 1.1;
  code {
    font-size: sizes.$f7 + 0.2rem; // Visual match
  }
  @media (max-width: sizes.$small-breakpoint){
    font-size: sizes.$f6;
    code {
      font-size: sizes.$f4 + 0.2rem; // Visual match
    }
  }
  &.margin {
    margin-top: sizes.$s4;
    margin-bottom: sizes.$s5;
    @media (max-width: sizes.$small-breakpoint){
      margin-bottom: sizes.$s4;
    }
  }
}
.secondary-heading {
  font-family: "Gill Sans", sans-serif;
  font-weight: 400;
  font-size: sizes.$f7;
  color: colors.$grey-4;
  line-height: 1.1;
  code {
    font-size: sizes.$f6 + 0.2rem; // Visual match
  }
  @media (max-width: sizes.$small-breakpoint){
    font-size: sizes.$f6;
    code {
      font-size: sizes.$f5 + 0.1rem; // Visual match
    }
  }
  &.margin {
    margin-top: sizes.$s2;
    margin-bottom: sizes.$s3;
    @media (max-width: sizes.$small-breakpoint){
      margin-top: sizes.$s1;
      margin-bottom: sizes.$s2;
    }
  }
}
.tertiary-heading {
  font-family: "Gill Sans", sans-serif;
  font-weight: 400;
  font-size: sizes.$f6;
  color: colors.$grey-4;
  line-height: 1.1;
  code {
    font-size: sizes.$f4 + 0.2rem; // Visual match
  }
  @media (max-width: sizes.$small-breakpoint){
    font-size: sizes.$f5;
    code {
      font-size: sizes.$f3 + 0.1rem; // Visual match
    }
  }
  &.margin {
    margin-bottom: sizes.$s1;
    @media (max-width: sizes.$small-breakpoint){
      margin-bottom: sizes.$s1;
    }
  }
}
.quaternary-heading {
  font-family: "Gill Sans", sans-serif;
  font-weight: 400;
  font-size: sizes.$f4;
  color: colors.$grey-4;
  margin-bottom: sizes.$s4;
  line-height: 1.1;
  code {
    font-size: sizes.$f2 + 0.1rem; // Visual match
  }
  @media (max-width: sizes.$small-breakpoint){
    font-size: sizes.$f4;
  }
  &.margin {
    margin-bottom: sizes.$s1;
  }
}
