@use "./sizes";
@use "./colors";

@mixin form-control {
  max-width: sizes.$s14;
  font-size: sizes.$f3;
  background-color: colors.$white;
  label {
    color: colors.$grey-4;
    margin-bottom: sizes.$s1;
  }
}
