@use "./colors";

@mixin small {
  box-shadow: 0 1px 0 colors.$grey-6;
  &:active {
    box-shadow: 0 -1px 0 colors.$grey-8;
    position: relative;
    top: 1px;
  }
  &.failure {
    box-shadow: 0 1px 0 colors.$failure-6;
    &:active {
      box-shadow: 0 -1px 0 colors.$failure-8;
    }
  }
}

@mixin large {
  box-shadow: 0 2px 30px colors.$grey-9;
}

@mixin underlay {
  background-color: hsla(0, 0%, 0%, 0.85);
}
