@use "colors";

@mixin small {
  box-shadow: 0 1px 0 colors.$grey-6, 0 2px 5px colors.$grey-9;
  &:active {
    box-shadow: 0 -1px 0 colors.$grey-8 0 2px 5px colors.$grey-9;
    position: relative;
    top: 1px;
  }
  &.failure {
    box-shadow: 0 1px 0 colors.$failure-6 0 2px 5px colors.$grey-9;
    &:active {
      box-shadow: 0 -1px 0 colors.$failure-8 0 2px 5px colors.$grey-9;
    }
  }
  &.warning {
    box-shadow: 0 1px 0 colors.$warning-6 0 2px 5px colors.$grey-9;
    &:active {
      box-shadow: 0 -1px 0 colors.$warning-8 0 2px 5px colors.$grey-9;
    }
  }
  &.success {
    box-shadow: 0 1px 0 colors.$success-6 0 2px 5px colors.$grey-9;
    &:active {
      box-shadow: 0 -1px 0 colors.$success-8 0 2px 5px colors.$grey-9;
    }
  }
  &.info {
    box-shadow: 0 1px 0 colors.$primary-6 0 2px 5px colors.$grey-9;
    &:active {
      box-shadow: 0 -1px 0 colors.$primary-8 0 2px 5px colors.$grey-9;
    }
  }
}

@mixin large {
	$offset: 2px;
	$size: 30px;
  box-shadow: 0 $offset $size colors.$grey-9;
  &.failure {
    box-shadow: 0 $offset $size colors.$failure-10;
  }
  &.warning {
    box-shadow: 0 $offset $size colors.$warning-10;
  }
  &.success {
    box-shadow: 0 $offset $size colors.$success-10;
  }
  &.info {
    box-shadow: 0 $offset $size colors.$primary-10;
  }
}

@mixin underlay {
  background-color: hsla(0, 0%, 0%, 0.85);
}
