$content-width-large: 680px;
$content-width-xl: 880px;
$transition: 0.2s;
$toast-duration: 6s;
$input-length: 20em;
@mixin fill {
  width: 100%;
  height: 100%;
}

// Breakpoints

$small-breakpoint: 480px;

// General

$s1: 4px;
$s2: 8px;
$s3: 12px;
$s4: 16px;
$s5: 24px;
$s6: 32px;
$s7: 48px;
$s8: 64px;
$s9: 96px;
$s10: 128px;
$s11: 192px;
$s12: 256px;
$s13: 384px;
$s14: 512px;
$s15: 640px;
$s16: 768px;
$s17: 896px;

// Type

$f1: 0.75rem;
$f2: 0.875rem;
$f3: 1rem;
$f4: 1.125rem;
$f5: 1.25rem;
$f6: 1.5rem;
$f7: 2rem;
$f8: 2.5rem;
$f9: 3rem;
$f10: 4rem;
$f11: 5rem;
