@use "sizes";
@use "colors";
@import "https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap";

@font-face {
  font-family: "Gill Sans";
  src: url("./fonts/gs.woff") format("woff");
}

@font-face {
  font-family: "Gill Sans Condensed";
  src: url("./fonts/gsc.woff") format("woff");
}

@mixin heading-1 {
  color: $colors-primary-3;
  font-weight: 700;
  font-size: $sizes-f8;
  font-family: "Gill Sans", sans-serif;
  line-height: 1.1;

  @media (max-width: $sizes-small-breakpoint) {
    font-size: $sizes-f6;

    code {
      font-size: $sizes-f4 + 0.2rem; // Visual match
    }
  }

  code {
    font-size: $sizes-f7 + 0.2rem; // Visual match
  }

  &.margin {
    margin-block-start: $sizes-s4;
    margin-block-end: $sizes-s5;

    @media (max-width: $sizes-small-breakpoint) {
      margin-block-end: $sizes-s4;
    }
  }
}

@mixin body-font {
  color: colors.$grey-1;
  font-weight: 400;
  font-size: sizes.$f3;
  font-family: "Gill Sans", sans-serif;
  line-height: 1.5;

  @media (max-width: sizes.$small-breakpoint) {
    font-size: sizes.$f3;
  }
}

@mixin form-font {
  color: colors.$grey-1;
  font-weight: 400;
  font-size: sizes.$f4;
  font-family: "Gill Sans", sans-serif;
  line-height: 1.5;

  @media (max-width: sizes.$small-breakpoint) {
    font-size: sizes.$f4;
  }
}

@mixin code-font {
  font-size: inherit;
  font-family: "Fira Mono", monospace;

  @media (max-width: sizes.$small-breakpoint) {
    font-size: sizes.$f3;
  }
}
