@use "../../../styles/sizes";
@use "../../../styles/colors";
@use "../../../styles/borders";

.Form {
  background-color: colors.$white;
  display: flex;
  flex-flow: column nowrap;
  padding: sizes.$s7 sizes.$s8;
  border-radius: borders.$radius;
  max-width: sizes.$s15;
  .Heading {
    margin-bottom: sizes.$s5;
  }
  .actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: sizes.$s4;
    .Button {
      margin-left: sizes.$s4;
    }
  }
  .error {
    color: colors.$failure-5;
    margin-top: sizes.$s6;
  }
}
