@use "../../styles" as *;

.Node {
	cursor: pointer;
	opacity: 1;
	.label {
		fill: $colors-grey-3;
		font-size: 0.1em;
		stroke: none;
	}

	&.closed {
		stroke: $colors-grey-9;
		stroke-width: 0.1px;
		fill: $colors-grey-9;
		.label {
			stroke: none;
			fill: $colors-grey-9;
		}
	}

	&.open {
		stroke: $colors-success-5;
		stroke-width: 0.05px;
		fill: $colors-success-8;
	}

	&.in-progress {
		stroke: $colors-warning-4;
		stroke-width: 0.1px;
		fill: $colors-warning-7;
	}

	&.complete {
		stroke: $colors-primary-4;
		stroke-width: 0.1px;
		fill: $colors-primary-7;
	}

	&.opening {
		stroke: $colors-primary-8;
		stroke-width: 0.1px;
		fill: $colors-white;
	}

	&.critical {
		stroke-width: 0.5px;
	}
}
