@use "../../../styles/sizes";
@use "../../../styles/borders";
@use "../../../styles/colors";
@use "../../../styles/shadows";

.Button {
  &.small {
    padding: sizes.$s1 sizes.$s3;
    font-size: sizes.$f3;
    height: auto;
  }
  &.large {
    padding: sizes.$s2 sizes.$s6;
    font-size: sizes.$f4;
  }
  &.primary-button {
    background-color: colors.$primary-4;
    color: colors.$white;
    font-weight: 700;
    border-radius: borders.$radius;
    border: none;
    cursor: pointer;
    transition: background-color sizes.$transition;
    @include shadows.small;
    &:hover {
      background-color: darken(colors.$primary-5, 10%);
    }
    &.failure {
      background-color: colors.$failure-4;
      &:hover {
        background-color: darken(colors.$failure-4, 10%);
      }
    }
  }
  &.secondary-button {
    background-color: colors.$grey-9;
    color: colors.$grey-2;
    border-radius: borders.$radius;
    border: none;
    cursor: pointer;
    padding: sizes.$s2 sizes.$s3;
    transition: background-color sizes.$transition;
    @include shadows.small;
    &:hover {
      background-color: darken(colors.$grey-9, 5%);
    }
  }
  &.tertiary-button {
    background-color: colors.$white;
    color: colors.$grey-2;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    padding: sizes.$s2 sizes.$s3;
  }
  &.disabled {
    background-color: colors.$grey-9;
    color: colors.$grey-6;
  }
}
