@use "../../../styles/sizes";
@use "../../../styles/colors";

.InboxLearner {
  .prompt {
    box-sizing: content-box;
    background-color: colors.$grey-10;
    padding: sizes.$s4;
    padding-bottom: 0;
    margin-bottom: sizes.$s4;
  }
}
