@use "../../../styles/sizes";
@use "../../../styles/borders";
@use "../../../styles/colors";

.IndicatorDeferred {
  font-weight: 700;
  font-size: sizes.$f4;
  padding: 2px;
  border-radius: borders.$radius;
  background-color: colors.$grey-5;
  color: colors.$white;
}
