@use "../../styles" as *;

.Toggle {
  @include forms-form-control;
  display: inline-block;
  margin-bottom: 0;
  label {
    display: inline-block;
    position: relative;
  }
	.left {
		text-align: left;
	}
	.right {
		text-align: right;
	}
  .MuiSwitch-colorPrimary {
    color: $colors-primary-5 !important;
  }
}
