@use "../../styles" as *;

.Toggle {
  @include forms-form-control;

  display: inline-block;
  margin-block-end: 0;

  label {
    position: relative;
    display: inline-block;
		inset-block-start: 2px; // Visual alignment
  }

  .left {
    text-align: start;
  }

  .right {
    text-align: end;
  }

  .MuiSwitch-colorPrimary {
    color: $colors-primary-5 !important;
  }
}
