@use "../../../styles/borders";
@use "../../../styles/colors";
@use "../../../styles/sizes";

.ActivityNavigation {
  display: flex;
  justify-content: flex-end;
  a {
    appearance: button;
    padding: sizes.$s2 sizes.$s4;
    border-radius: borders.$radius;
  }
}
