@use "$/styles" as *;

.Hero {
  width: 100%;
  min-height: 600px;
  padding-top: $sizes-s10;
  background: linear-gradient(to bottom, $colors-primary-1, $colors-primary-5);
  color: $colors-white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  .hero-wrapper {
    max-width: $sizes-s16;
  }
  .tagline {
    @include typography-display-heading-1;
    text-align: center;
  }
  .subheading {
    font-size: $sizes-f6;
    color: $colors-grey-9;
    line-height: 1.3;
    max-width: $sizes-s14;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .badges {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    .Badge {
      margin: 0 $sizes-s2;
    }
  }
  .clients {
    text-align: center;
    font-size: $sizes-f5;
    font-weight: 700;
    color: $colors-grey-9;
    margin-top: $sizes-s8;
    margin-bottom: $sizes-s8;
  }
}
