@use "$/styles" as *;

.Wordmark {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  &.small.tall {
    width: $sizes-s10;
    height: $sizes-s9;
  }
  &.small.balanced {
    width: $sizes-s11;
    height: $sizes-s9;
  }
  &.small.wide {
    width: $sizes-s12;
    height: $sizes-s9;
  }
  &.large.tall {
    width: $sizes-s12;
    height: $sizes-s11;
  }
  &.large.balanced {
    width: $sizes-s13;
    height: $sizes-s11;
  }
  &.large.wide {
    width: $sizes-s15;
    height: $sizes-s11;
  }
  &.monochrome {
    filter: grayscale(100%) sepia(100%) grayscale(95%);
  }
}
