@use "../../styles" as *;

.TagManager {
	ul {
		margin-bottom: 0;
	}
	.tag-list, li {
		display: inline-block;
	}
	.tag-list {
		display: inline-block;
		padding: $sizes-s1;
		line-height: 2.3;
		> li {
			margin-right: $sizes-s2;
		}
	}
	.Button {
		margin-right: $sizes-s1;
		.Icon {
			color: $colors-white;
		}
	}
}
