@use "../../styles" as *;

.Link {
  color: $colors-primary-1;

  &.InternalLink {
    & + em {
      display: none;
    }
    & + .indicator {
      font-size: $sizes-f2;
      display: inline;
    }
  }
  .external-link-icon {
    font-size: $sizes-f2;
    color: $colors-grey-5;
  }
}
