@use "../../styles" as *;

.Link {
  color: $colors-primary-1;

  &.InternalLink {
    & + em {
      display: none;
    }

    & + .indicator {
      display: inline;
      font-size: $sizes-f2;
    }
  }

  .external-link-icon {
    color: $colors-grey-5;
    font-size: $sizes-f2;
  }
}
