@use "../../styles/sizes";
@use "../../styles/colors";
@use "../../styles/typography";

.EvaluationViewer {
  width: sizes.$content-width-xl;
  height: 100%;
  h1 {
    @include typography.heading-font-1;
  }
  .meta {
    display: flex;
    justify-content: space-between;
    color: colors.$grey-6;
    > ul {
      display: flex;
      li + li {
        margin-left: sizes.$s3;
      }
      time {
        display: inline-block;
        margin-bottom: sizes.$s2;
      }
    }
  }
  .prompt, .response {
    padding: sizes.$s4;
    background-color: colors.$grey-10;
  }
  .evaluation {
    margin-bottom: sizes.$s6;
  }
}
