@use "../../styles/sizes";
@use "../../styles/typography";
@use "../../styles/buttons";
@use "../../styles/colors";

.AppEvaluator {
  width: 100%;
  height: 100%;
  h2 {
    @include typography.heading-font-2;
  }
  .evaluator-performances {
    width: 100%;
    tr {
      &:nth-child(even) {
        background-color: colors.$grey-10;
      }
    }
  }
  > form {
    text-align: right;
    [type=submit] {
      @include buttons.button-shadow-small;
      @include buttons.button-primary;

      margin-top: sizes.$s4;
    }
    [type=submit][disabled] {
      background-color: colors.$grey-10;
    }
  }
}
