@use "$/styles" as *;

.Markdown {
  @include typography-body-font;

  & {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 0 $sizes-s2;
    max-inline-size: $sizes-s15;
  }

  h1,
  h2,
  h3,
  h4,
  p,
  blockquote,
  ul,
  ol,
  table,
  pre,
  pre > code {
    inline-size: 100%;
  }

  // Lists
  ul {
    list-style: square;
  }

  ol {
    list-style: number;
    list-style-position: outside;
  }

  ul,
  ol {
    padding-inline-start: 0;
    margin-block-end: 0;

    @media (max-width: $sizes-small-breakpoint) {
      padding-inline-start: $sizes-s5;
    }

    ul,
    ol {
      padding-inline-start: $sizes-s5;
    }
  }

  li {
    margin-block-end: $sizes-s1;
  }

  // Images
  img {
    margin-block-end: $sizes-f4;
    max-inline-size: 100%;

    &[src$="#medium"] {
      inline-size: 50%;

      @media (max-width: $sizes-small-breakpoint) {
        inline-size: 100%;
      }
    }

    &[src$="#small"] {
      inline-size: 30%;

      @media (max-width: $sizes-small-breakpoint) {
        inline-size: 50%;
      }
    }
  }

  .image-container {
    text-align: center;
  }

  // Inline Code
  p,
  li,
  td,
  th {
    code {
      display: inline-block;
      padding: 0 4px;
      background-color: $colors-grey-10;
    }
  }

  // Code Block
  pre {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    white-space: pre-wrap;
    margin-block-end: $sizes-f4;

    > div {
      box-sizing: content-box;
      border-radius: $borders-radius !important;
      inline-size: 100%;

      @media (max-width: $sizes-small-breakpoint) {
        box-sizing: border-box;
      }
    }

    code {
      box-sizing: content-box;
      font-size: $sizes-f3 !important; // Overrides inheritance
      white-space: pre-wrap !important; // Needed to override syntax highlighter
      &:not([class^="language-"]) {
        padding: $sizes-s4;
      }
    }
  }

  // Tables
  table {
    border-spacing: 1px; // Force newline
    border-collapse: separate;
    margin-inline-start: -1 * $sizes-s5; // Alignment hack
    margin-block-end: $sizes-s5;

    thead {
      border-block-end: 1px solid $colors-grey-7;
    }

    th {
      font-style: italic;
      text-align: start;
      padding-block-end: $sizes-s2;
    }

    td,
    th {
      padding: $sizes-s2;
    }

    tr:nth-child(even) {
      background-color: $colors-grey-10;
    }
  }

  // Task list
  .contains-task-list {
    margin: $sizes-s5 0;

    .task-list-item {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;

      input {
        margin-block-start: 8px;
        margin-inline-end: $sizes-s3;
      }
    }
  }

  // Other
  blockquote {
    padding: $sizes-f5;
    background-color: $colors-grey-9;

    > p {
      margin: 0;
      padding: 0;
    }
  }
}
