@use "../../../style-library/styles" as *;

.Drawer {
  @media screen and (prefers-reduced-motion: reduce) {
    .content {
      position: fixed;
      z-index: 20;
      display: flex;
      flex-flow: column nowrap;
      padding: $sizes-s5;
      background-color: $colors-white;
      animation: none;
      inset-block-start: 0;
      inset-block-end: 0;
      inset-inline-end: 0;
      inline-size: $sizes-s14;
      overflow-block: auto;

      .close-button {
        z-index: 30;
        align-self: flex-end;
        padding: 0;
        border: none;
        background-color: transparent;
        cursor: pointer;
        margin-inline-start: auto;

        &:focus {
          @include borders-trace;
        }
      }
    }
  }

  &.modal {
    @include shadows-underlay;

    position: fixed;
    z-index: 10;
    inset-block-start: 0;
    inset-inline-end: 0;
    inset-block-end: 0;
    inset-inline-start: 0;
  }

  .content {
    position: fixed;
    z-index: 20;
    display: flex;
    flex-flow: column nowrap;
    padding: $sizes-s5;
    background-color: $colors-white;
    animation: slide-open $sizes-transition;
    inset-block-start: 0;
    inset-block-end: 0;
    inset-inline-end: 0;
    inline-size: $sizes-s14;
    overflow-block: auto;

    .close-button {
      z-index: 30;
      align-self: flex-end;
      padding: 0;
      border: none;
      background-color: transparent;
      cursor: pointer;
      margin-inline-start: auto;

      &:focus {
        @include borders-trace;
      }
    }
  }

  &:not(.modal) {
    .content {
      @include shadows-large;
    }
  }
}

@keyframes slide-open {
  from {
    inset-inline-end: -100%;
  }

  to {
    inset-inline-end: 0;
  }
}
