@use "../../../styles/sizes";

.Toast {
  position: fixed;
  right: sizes.$s4;
  bottom: -300px;
  align-self: flex-end;
  animation: toast sizes.$toast-duration;
  z-index: 10;
  .Notification {
    margin-bottom: sizes.$s2;
  }
}

@keyframes toast {
  0% {
    bottom: -300px;
  }
  10% {
    bottom: sizes.$s5;
  }
  90% {
    bottom: sizes.$s5;
  }
  100% {
    bottom: -300px;
  }
}
