@use "$/styles" as *;

.text-content-wrapper {
  border: 1px dashed red;
}

.TextContent.TextContent {
  // Increasing specificity to break Storybook styles
  @include typography-body-font;

  & {
    max-inline-size: $sizes-s16;
  }

  &.accent {
    font-size: $sizes-f6;
    line-height: 1.3;
  }

  &.hero {
    font-family: "Fira Mono", mono;
    font-size: $sizes-f11;
    line-height: 1.1;
  }
}
