@use "../../styles" as *;

@keyframes blink {
	0% {
		opacity: 0;
	}

	20% {
		opacity: 1;
	}

	80% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

#arrow {
	path {
		font-size: 0.1em;
		fill: $colors-grey-7;
		stroke: $colors-primary-7 !important;
		animation: blink 1.5s infinite;
		stroke-width: 0.1px;

@media screen and (prefers-reduced-motion: reduce) {
		font-size: 0.1em;
		fill: $colors-grey-7;
		stroke: $colors-primary-7 !important;
		animation: none;
		stroke-width: 0.1px
}
	}
}
