@use "../../../styles/sizes";
@use "../../../styles/borders";
@use "../../../styles/typography";
@use "../../../styles/colors";
@use "../../../styles/forms";

.TextArea {
  @include forms.form-control;
  display: block;
  margin-bottom: sizes.$s3;
  position: relative;
  textarea {
    @include borders.trace;
    @include borders.underline-on-focus;
    border: none;
    min-height: sizes.$s9;
    width: calc(100% + 16px);
    padding: sizes.$s2 sizes.$s2;
    overflow-y: auto;
    margin-left: -8px; // Visually adjust to align with input
    resize: vertical;
    &.editable {
      resize: none;
      cursor: pointer;
      min-height: auto;
      @include borders.underline-on-focus;
      &:focus {
        cursor: text;
        min-height: sizes.$s9;
        resize: vertical;
      }
    }
  }
}
