@use "../../styles/colors";
@use "../../styles/sizes";
@use "../../styles/borders";

#modal-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

#modal {
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 10%;
}

#modal-content {
  z-index: 20;
  width: sizes.$s15;
  border-radius: borders.$radius;
}

#modal-shadow {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: transparentize(colors.$black, 0.1);
  z-index: 10;
}
