@use "../../styles" as *;

.Tag {
  color: $colors-grey-3;
  font-size: $sizes-f3;
  background-color: $colors-grey-9;
  padding: 0 $sizes-s3 $sizes-s1 $sizes-s3;
  border-radius: $borders-radius;
	white-space: nowrap;
	@include shadows-small;
	&.interactive {
		cursor: pointer;
	}
	&.active {
		background-color: $colors-primary-9;
	}
	.Icon {
		display: inline-block;
		margin-left: $sizes-s2;
		position: relative; // Visual alignment
		top: 1px; // Visual alignment
		font-size: inherit;
	}
}
