@use "../../../styles/typography";
@use "../../../styles/sizes";
@use "../../../styles/colors";

.Breadcrumbs {
  font-family: "Gill Sans", sans-serif;
  font-size: sizes.$f3;
  font-weight: 400;
  color: colors.$grey-4;
  margin-bottom: sizes.$s6;
  @media (max-width: sizes.$small-breakpoint){
    margin-bottom: sizes.$s3;
  }
  > ol {
    &::after {
      content: "\a0"; // Holds space open with an empty list
    }
  }
  li {
    display: inline-block;
  }
  li + li {
    margin-left: sizes.$s1;
    &::before {
      content: ">";
      margin-right: sizes.$s1;
    }
  }
  a {
    /* Controls spacing of underline */
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid colors.$grey-5;
  }
}
