@use "$/styles" as *;

.WebsiteHome {
  section {
    margin-top: $sizes-s6;
    @include utilities-center-block;
    h2 {
      @include typography-display-heading-2;
    }
    .Markdown {
      @include utilities-center-block;
    }
  }
  .what-is-sika, .how-it-works, .testimonials, {
    max-width: $sizes-s15;
  }
  .coach-profile, .technologies,  {
    max-width: $sizes-s17;
  }
  .price-cards, .sika-difference {
    max-width: 100%;
  }
  .sika-difference {
    h2 {
      @include utilities-center-block;
      max-width: $sizes-s15;
    }
  }
  .price-cards {
    @include utilities-flex-center-row;
    margin-top: $sizes-s8;
  }
  .ComparisonTable {
    @include utilities-center-block;
  }
  .technologies {
    @include utilities-center-block;
    @include typography-display-heading-2;
    margin-top: $sizes-s8;
    text-align: center;
    .Markdown {
      @include utilities-center-block;
    }
  }
  .Profile {
    @include utilities-center-block;
  }
}
