@use "$/styles" as *;

.WebsiteHome {
  .price-cards {
    margin-top: $sizes-s8;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  .coach-profile {
    margin-top: $sizes-s6;
    h2 {
      font-size: $sizes-f9;
      text-align: center;
      margin-bottom: $sizes-s6;
    }
    .Profile {
      margin: 0 auto;
    }
  }
  .how-it-works {
    margin-top: $sizes-s8;
    h2 {
      font-size: $sizes-f8;
      text-align: center;
      margin-bottom: $sizes-s6;
    }
  }
  .what-is-sika {
    margin-top: $sizes-s8;
    h2 {
      font-size: $sizes-f8;
      text-align: center;
      margin-bottom: $sizes-s6;
    }
  }
  .testimonials {
    margin-top: $sizes-s8;
    h2 {
      font-size: $sizes-f8;
      text-align: center;
      margin-bottom: $sizes-s6;
    }
  }
  .sika-difference {
    margin-top: $sizes-s8;
    h2 {
      font-size: $sizes-f8;
      text-align: center;
      margin-bottom: $sizes-s6;
    }
  }
  .technologies {
    max-width: $sizes-s17;
    margin-left: auto;
    margin-right: auto;
    margin-top: $sizes-s8;
    h2 {
      font-size: $sizes-f7;
      text-align: center;
      margin-bottom: $sizes-s6;
    }
    ul {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
    }
    li {
      margin: $sizes-s4;
    }
  }
}
