@use "../../styles" as *;

.DropDown {
  @include forms-form-control;
  display: block;
  margin-bottom: $sizes-s3;
  position: relative;
	select {
		@include borders-trace;
		background-color: $colors-white;
		color: $colors-grey-2;
    width: calc(100% + $sizes-s2 + $sizes-s2);
    padding: $sizes-s1 $sizes-s2;
    margin-left: -1 * $sizes-s2;
	}
}
