@use "../../../styles/borders";
@use "../../../styles/sizes";
@use "../../../styles/colors";

.Markdown {
  max-width: sizes.$s15;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 0 sizes.$s2;
  h1, h2, h3, h4, p, blockquote, ul, ol, table, pre, pre > code {
    width: 100%;
  }

  // Links
  .internal-link {
    & + em {
      display: none;
    }
    & + .indicator {
      font-size: sizes.$f2;
      display: inline;
    }
  }
  .external-link-icon {
    font-size: sizes.$f2;
    color: colors.$grey-5;
  }

  // Lists
  ul, ol {
    padding-left: 0;
    margin-bottom: 0;
    @media (max-width: sizes.$small-breakpoint){
      padding-left: sizes.$s5;
    }
    ul, ol {
      padding-left: sizes.$s5;
    }
  }
  ul {
    list-style: square;
  }
  ol {
    list-style: number;
    list-style-position: outside;
  }
  li {
    margin-bottom: sizes.$s1;
  }

  // Images
  img {
    margin-bottom: sizes.$f4;
    max-width: 100%;
  }
  img[src$="#medium"] {
    width: 50%;
    @media (max-width: sizes.$small-breakpoint){
      width: 100%;
    }
  }
  img[src$="#small"] {
    width: 30%;
    @media (max-width: sizes.$small-breakpoint){
      width: 50%;
    }
  }
  .image-container {
    text-align: center;
  }

  // Code Block
  pre {
    margin-bottom: sizes.$f4;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    white-space: pre-wrap;
    > div {
      width: 100%;
      border-radius: borders.$radius !important;
      box-sizing: content-box;
      @media (max-width: sizes.$small-breakpoint){
        box-sizing: border-box;
      }
    }
    code {
      font-size: sizes.$f3 !important; // Overrides inheritance
      white-space: pre-wrap !important; // Needed to override syntax highlighter
      box-sizing: content-box;
      &:not([class^="language-"]) {
        padding: sizes.$s4;
      }
    }
  }
  // Inline Code
  p, li, td, th {
    code {
      display: inline-block;
      padding: 0 4px;
      background-color: colors.$grey-10;
    }
  }

  // Tables
  table {
    margin-left: -1 * sizes.$s5; // Alignment hack
    margin-bottom: sizes.$s5;
    border-collapse: separate;
    border-spacing: 1px; // Force newline
    thead {
      border-bottom: 1px solid colors.$grey-7;
    }
    th {
      text-align: left;
      padding-bottom: sizes.$s2;
      font-style: italic;
    }
    td, th {
      padding: sizes.$s2;
    }
    tr:nth-child(even) {
      background-color: colors.$grey-10;
    }
  }

  // Task list
  .contains-task-list {
    margin: sizes.$s5 0;
    .task-list-item {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      input {
        margin-top: 8px;
        margin-right: sizes.$s3;
      }
    }
  }

  // Other
  blockquote {
    background-color: colors.$grey-9;
    padding: sizes.$f5;
    > p {
      padding: 0;
      margin: 0;
    }
  }
}
