@use "../../styles" as *;

.Image {
	margin-bottom: $sizes-f4;
	.image-wrapper {
		max-width: $sizes-s17;
		display: inline-block;
		&.lightboxed {
			max-width: 90%;
			p {
				color: $colors-white;
				width: 100%;
			}
		}
		img {
			border-radius: $borders-radius;
			align-self: center;
			max-width: 100%;
		}
		.attribution {
			font-style: italic;
			text-align: right;
			color: $colors-grey-5;
		}
	}
}
