@use "../../styles" as *;

.MarkdownPreviewer {
	.preview-subheading {
    color: $colors-grey-4;
    margin-bottom: $sizes-s1;
	}
	.TextArea textarea {
    width: calc(100% + 16px);
    margin-left: -8px; // Visually adjust to align with input
	}
	.Markdown {
		@include borders-trace;
		max-height: $sizes-s12;
		overflow: auto;
    width: calc(100% + 16px);
    margin-left: -8px; // Visually adjust to align with input
		margin-bottom: $sizes-s4;
	}
}
