@use "../../styles" as *;

.MarkdownPreviewer {
  inline-size: calc(100% + 16px);

  > header {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    inline-size: 100%;
    max-inline-size: $sizes-s15;
    margin-block-start: $sizes-s6 * -1;
    inset-block-start: $sizes-s6;

    .actions-bar {
      margin-block-end: $sizes-s2;

      li {
        display: inline-block;

				&.placeholder { // Keep UI from thrasing as element is conditionally rendered
					font-size: $sizes-f4;
					line-height: 1.5;
				}

        button {
          padding: 0 $sizes-s2;
        }
      }
    }
  }

  .preview-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-inline-size: $sizes-s15; // Override max default
		margin-block-end: $sizes-s1;

    .Icon {
      .expand-icon {
        color: $colors-grey-7;
      }

      .view-icon {
        color: $colors-grey-8;
      }

      .no-view-icon {
        color: $colors-grey-6;
      }
    }

    .preview-subheading {
      color: $colors-grey-4;
      font-style: italic;
      margin-block-end: 0;
    }
  }

  .TextArea {
    max-inline-size: $sizes-s15; // Override max default
    textarea {
      inline-size: 100%;
      margin-inline-start: -8px; // Visually adjust to align with input
    }
  }

  .Markdown {
    @include borders-trace;

    overflow: auto;
		padding: $sizes-s2;
    max-block-size: $sizes-s12;
    margin-inline-start: -8px; // Visually adjust to align with input
    margin-block-end: $sizes-s4;
    min-block-size: $sizes-s4;
    inline-size: 100%;
  }
}

#markdown-lightbox-wrapper {
  background-color: $colors-white;

  .Markdown {
    margin: 0;
  }
}
