@use "../../styles" as *;

.Breadcrumbs {
  color: $colors-grey-4;
  font-weight: 400;
  font-size: $sizes-f3;
  font-family: "Gill Sans", sans-serif;
  margin-block-end: $sizes-s6;

  @media (max-width: $sizes-small-breakpoint){
    margin-block-end: $sizes-s3;
  }

  > ol {
    &::after {
      content: "\a0"; // Holds space open with an empty list
    }
  }

  li {
    display: inline-block;

  & + li {
    margin-inline-start: $sizes-s1;

    &::before {
      content: ">";
      margin-inline-end: $sizes-s1;
    }
  }
  }

  a {
    /* Controls spacing of underline */
    display: inline-block;
    text-decoration: none;
    border-block-end: 1px solid $colors-grey-5;
  }
}
