@use "$/styles" as *;

.BordersAndShadows {
  section > div {
    margin-block-end: 24px;
  }

  .border-radius {
    padding: 24px;
    border-radius: $borders-radius;
    outline: 1px solid hsl(0deg 0% 20%);
  }

  .trace {
    @include borders-trace;
  }

  .low-shadow {
    @include shadows-small;

    border: 1px dashed hsl(0deg 0% 93%);
  }

  .high-shadow {
    @include shadows-large;

    border: 1px dashed hsl(0deg 0% 93%);
  }

  .underlay-container {
    position: relative;
    padding: 24px;

    .shade {
      @include shadows-underlay;

      position: absolute;
      z-index: 20;
      inset-inline-start: 0;
      inset-inline-end: 0;
      inset-block-end: 0;
      inset-block-start: 0;
    }

    > p {
      z-index: 10;
    }
  }
}
