@use "../styles" as *;

.SizeDemo {
  div {
    position: relative;
    outline: 1px dashed hsl(0deg 0% 20%);
  }

  .label {
    position: absolute;
    inset-inline-end: 4px;
    inset-block-end: 0;
  }

  .size-17 {
    inline-size: $sizes-s17;
    block-size: $sizes-s17;

    .label {
      font-size: $sizes-f9;
    }
  }

  .size-16 {
    inline-size: $sizes-s16;
    block-size: $sizes-s16;

    .label {
      font-size: $sizes-f8;
    }
  }

  .size-15 {
    inline-size: $sizes-s15;
    block-size: $sizes-s15;

    .label {
      font-size: $sizes-f7;
    }
  }

  .size-14 {
    inline-size: $sizes-s14;
    block-size: $sizes-s14;

    .label {
      font-size: $sizes-f6;
    }
  }

  .size-13 {
    inline-size: $sizes-s13;
    block-size: $sizes-s13;

    .label {
      font-size: $sizes-f5;
    }
  }

  .size-12 {
    inline-size: $sizes-s12;
    block-size: $sizes-s12;

    .label {
      font-size: $sizes-f4;
    }
  }

  .size-11 {
    inline-size: $sizes-s11;
    block-size: $sizes-s11;

    .label {
      font-size: $sizes-f3;
    }
  }

  .size-10 {
    inline-size: $sizes-s10;
    block-size: $sizes-s10;

    .label {
      font-size: $sizes-f2;
    }
  }

  .size-9 {
    inline-size: $sizes-s9;
    block-size: $sizes-s9;

    .label {
      font-size: $sizes-f2;
    }
  }

  .size-8 {
    inline-size: $sizes-s8;
    block-size: $sizes-s8;

    .label {
      font-size: $sizes-f1;
    }
  }

	.size-1, .size-2, .size-3, .size-4, .size-5, .size-6, .size-7 {
		.label {
			font-size: 5px;
			inset-inline-end: unset;
			inset-inline-start: -16px;
		}
	}

  .size-7 {
    inline-size: $sizes-s7;
    block-size: $sizes-s7;
  }

  .size-6 {
    inline-size: $sizes-s6;
    block-size: $sizes-s6;
  }

  .size-5 {
    inline-size: $sizes-s5;
    block-size: $sizes-s5;
  }

  .size-4 {
    inline-size: $sizes-s4;
    block-size: $sizes-s4;
  }

  .size-3 {
    inline-size: $sizes-s3;
    block-size: $sizes-s3;
  }

  .size-2 {
    inline-size: $sizes-s2;
    block-size: $sizes-s2;
  }

  .size-1 {
    inline-size: $sizes-s1;
    block-size: $sizes-s1;
  }
}
