@use "../styles" as *;

.TimingDemo {
  .transition {
    display: inline-block;
    padding: 24px;
    background-color: hsl(0deg 0% 93%);
    outline: 1px solid;
    transition: all $sizes-transition;

    @media screen and (prefers-reduced-motion: reduce) {
      display: inline-block;
      padding: 24px;
      background-color: hsl(0deg 0% 93%);
      outline: 1px solid;
      transition: none;

      @media (hover: hover) {
        &:hover,
        &:focus {
          transform: scale(1.1);
        }
      }
    }

    @media (hover: hover) {
      &:hover,
      &:focus {
        transform: scale(1.1);
      }
    }
  }

  .notification-container {
    position: relative;
    outline: 1px dashed;

    @media screen and (prefers-reduced-motion: reduce) {
      .notification {
        position: absolute;
        animation: none;
        animation-iteration-count: 1;
      }
    }

    @media screen and (prefers-reduced-motion: reduce) {
      .timer {
        display: inline-block;
        background-color: hsl(0deg 0% 80%);
        animation: none;
        animation-iteration-count: 1;
      }
    }

    .notification {
      position: absolute;
      animation: demo-notification $sizes-toast-duration forwards;
      animation-iteration-count: 1;
    }

    .timer {
      display: inline-block;
      background-color: hsl(0deg 0% 80%);
      animation: timer-countdown $sizes-toast-duration linear forwards;
      animation-iteration-count: 1;
    }
  }
}

@keyframes timer-countdown {
  from {
    inline-size: 100%;
  }

  to {
    inline-size: 0%;
  }
}

@keyframes demo-notification {
  0% {
    inset-block-end: -9999px;
  }

  3% {
    inset-block-end: 0;
  }

  95% {
    inset-block-end: 0;
  }

  100% {
    inset-block-end: -9999px;
  }
}
