@use "../styles" as *;

.TypographyDemo {
  .heading-typeface {
    font-size: 24px;
    /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
    font-family: "Gill Sans Condensed";
  }

  .primary-typeface {
    font-size: 24px;
    /* stylelint-disable-next-line font-family-no-missing-generic-family-keyword */
    font-family: "Gill Sans";
  }

  section {
    padding-block-end: 24px;
    border-block-end: 1px solid hsl(0deg 0% 80%);
    margin-block-end: 24px;
  }

  .font-sizes {
    .size-1 {
      font-size: $sizes-f1;
    }

    .size-2 {
      font-size: $sizes-f2;
    }

    .size-3 {
      font-size: $sizes-f3;
    }

    .size-4 {
      font-size: $sizes-f4;
    }

    .size-5 {
      font-size: $sizes-f5;
    }

    .size-6 {
      font-size: $sizes-f6;
    }

    .size-7 {
      font-size: $sizes-f7;
    }

    .size-8 {
      font-size: $sizes-f8;
    }

    .size-9 {
      font-size: $sizes-f9;
    }

    .size-10 {
      font-size: $sizes-f10;
    }

    .size-11 {
      font-size: $sizes-f11;
    }
  }
}
