@use "colors";
@use "sizes";

$radius: 4px;

@mixin trace {
  border: none;
  border-radius: $radius;
  outline: 1px solid colors.$grey-9;
}

@mixin underline-on-focus {
  transition: border-block-end sizes.$transition;

  // border-top: calc(3px + 2px) solid transparentize($colors-primary-5, 1);
  border-block-end: 3px solid colors.$white;

  &:focus {
    @include trace;

    border-block-end: 3px solid colors.$primary-5;
  }
}

@mixin halo-on-focus {
  box-shadow: 0 0 30px colors.$grey-9;
  transition: box-shadow sizes.$transition;
}
