$black: hsl(0deg 0% 5%);
$white: hsl(0deg 0% 100%);
$primary-1: hsl(185deg 41% 26%);
$primary-2: hsl(188deg 47% 36%);
$primary-3: hsl(189deg 50% 42%);
$primary-4: hsl(190deg 51% 48%);
$primary-5: hsl(190deg 58% 53%);
$primary-6: hsl(189deg 63% 56%);
$primary-7: hsl(189deg 66% 62%);
$primary-8: hsl(189deg 69% 72%);
$primary-9: hsl(188deg 68% 83%);
$primary-10: hsl(190deg 71% 93%);
$accent-1: hsl(-40deg 41% 26%);
$accent-2: hsl(-37deg 47% 36%);
$accent-3: hsl(-36deg 50% 42%);
$accent-4: hsl(-35deg 51% 48%);
$accent-5: hsl(-35deg 58% 53%);
$accent-6: hsl(-36deg 63% 56%);
$accent-7: hsl(-36deg 66% 62%);
$accent-8: hsl(-36deg 69% 72%);
$accent-9: hsl(-37deg 68% 83%);
$accent-10: hsl(-40deg 71% 93%);
$success-1: hsl(151deg 57% 22%);
$success-2: hsl(156deg 52% 30%);
$success-3: hsl(157deg 51% 34%);
$success-4: hsl(158deg 50% 38%);
$success-5: hsl(159deg 50% 42%);
$success-6: hsl(160deg 43% 48%);
$success-7: hsl(160deg 42% 57%);
$success-8: hsl(160deg 43% 68%);
$success-9: hsl(160deg 43% 81%);
$success-10: hsl(163deg 45% 92%);
$warning-1: hsl(26deg 100% 50%);
$warning-2: hsl(34deg 100% 50%);
$warning-3: hsl(38deg 100% 50%);
$warning-4: hsl(42deg 100% 50%);
$warning-5: hsl(45deg 100% 51%);
$warning-6: hsl(45deg 100% 58%);
$warning-7: hsl(46deg 100% 65%);
$warning-8: hsl(45deg 100% 75%);
$warning-9: hsl(45deg 100% 85%);
$warning-10: hsl(46deg 100% 94%);
$failure-1: hsl(9deg 50% 42%);
$failure-2: hsl(8deg 48% 47%);
$failure-3: hsl(7deg 50% 51%);
$failure-4: hsl(8deg 60% 56%);
$failure-5: hsl(9deg 70% 59%);
$failure-6: hsl(6deg 65% 62%);
$failure-7: hsl(3deg 51% 67%);
$failure-8: hsl(2deg 52% 76%);
$failure-9: hsl(357deg 69% 90%);
$failure-10: hsl(351deg 64% 96%);
$grey-1: hsl(200deg 19% 18%);
$grey-2: hsl(200deg 18% 26%);
$grey-3: hsl(199deg 18% 33%);
$grey-4: hsl(199deg 18% 40%);
$grey-5: hsl(200deg 18% 46%);
$grey-6: hsl(200deg 15% 54%);
$grey-7: hsl(200deg 16% 62%);
$grey-8: hsl(200deg 15% 73%);
$grey-9: hsl(198deg 16% 84%);
$grey-10: hsl(204deg 15% 94%);
