@use "sizes";
@use "colors";
@use "typography";

@mixin form-control {
  background-color: colors.$white;
  font-size: sizes.$f3;
  max-inline-size: sizes.$s14;

  input,
  textarea,
  select {
    @include typography.form-font;
  }

  label {
    color: colors.$grey-4;
    margin-block-end: sizes.$s1;
  }
}
