@use "./styles/typography";
@use "./styles/sizes";
@use "./styles/colors";

.App {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: "Gill Sans", sans-serif;
  padding-top: sizes.$s5;
  padding-bottom: sizes.$s5;
  @media (max-width: sizes.$small-breakpoint){
    padding-top: sizes.$s2;
    padding-bottom: sizes.$s2;
  }

  > header, > main, > footer {
    padding: 0 sizes.$s5;
    @media (max-width: sizes.$small-breakpoint){
      padding: 0 sizes.$s3;
    }
  }
  > header {
    margin-bottom: sizes.$s5;
  }
  > main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    @media (max-width: sizes.$small-breakpoint){
      display: block;
    }
  }
  > footer {
    margin-top: sizes.$s5;
  }
}
