@use "$/styles" as *;

.Image {
  display: inline-block;

  .image-wrapper {
    display: inline-block;
    max-inline-size: $sizes-s17;

    &.lightboxed {
      max-inline-size: 90%;

      p {
        color: $colors-white;
        inline-size: 100%;
      }
    }

    img {
      align-self: center;
      border-radius: $borders-radius;
      max-inline-size: 100%;
    }

    .attribution {
      color: $colors-grey-4;
      font-style: italic;
      text-align: end;
    }
  }
}
