@use "../../styles/typography";
@use "../../styles/colors";
@use "../../styles/sizes";
@use "../../styles/borders";

.ActivityManagerView {
  width: sizes.$s17;
  header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: sizes.$s4;
  }
  .DataTable {
    .table-row {
      .field:nth-child(1), .field:nth-child(2) {
        display: flex;
        justify-content: center;
        align-items: center;
        & > span {
          width: 100%; // stretch skeleton
        }
      }
      .field:nth-child(2), .field:nth-child(3), .field:nth-child(4) {
        cursor: pointer;
      }
      &.active {
        .field:nth-child(3), .field:nth-child(4) {
          background-color: colors.$primary-9;
          width: calc(100% + (sizes.$s2 * 2));
          margin-left: calc(sizes.$s2 * -1);
          padding-left: sizes.$s2;
          border-radius: borders.$radius;
        }
      }
    }
  }
}
