@use "$/styles" as *;

.Portrait {
  display: inline-block;
  clip-path: border-box;
  border-radius: 50%;
  &.badge {
    max-height: $sizes-s6;
    max-width: $sizes-s6;
  }
  &.small {
    max-height: $sizes-s8;
    max-width: $sizes-s8;
  }
  &.medium {
    max-height: $sizes-s12;
    max-width: $sizes-s12;
  }
  &.large {
    max-height: $sizes-s13;
    max-width: $sizes-s13;
  }
}
