@use "$/styles" as *;

.Portrait {
  display: inline-block;
  clip-path: border-box;
  border-radius: 50%;
  &.badge {
    width: $sizes-s6;
  }
  &.small {
    width: $sizes-s8;
  }
  &.medium {
    width: $sizes-s12;
  }
  &.large {
    width: $sizes-s13;
  }
}
