@use "../../styles" as *;

.DataTable {
  margin: 0 auto;
  max-inline-size: $sizes-s17;

  .table-headers {
    color: $colors-grey-4;
    text-align: start;
    padding-block-end: $sizes-s3;
  }

  .table-row {
    display: grid;
    gap: $sizes-s2;
    border-radius: $borders-radius;
  }

  .field {
    align-content: start;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:focus {
      @include borders-trace;
    }
  }
}
