@use "../../../styles/colors";
@use "../../../styles/forms";
@use "../../../styles/sizes";
@use "../../../styles/borders";

.TextInput {
  @include forms.form-control;
  display: block;
  margin-bottom: sizes.$s3;
  input {
    border: none;
    @include borders.trace;
    @include borders.underline-on-focus;
    width: calc(100% + sizes.$s2 + sizes.$s2);
    padding: sizes.$s1 sizes.$s2;
    margin-left: -1 * sizes.$s2;
  }
}
