@use "../../styles/sizes";
@use "../../styles/colors";

.AppFooter {
  display: flex;
  justify-content: flex-end;
  font-family: "Gill Sans", sans-serif;
  color: colors.$grey-4;
  font-size: sizes.$f2;
  font-weight: 400;
}
